@charset "UTF-8";

html, body{
	color: #212121;
	font-size: 100%;
}

h1,h2,h3,h4{
	color: #212121;
	font-family: 'Satisfy', cursive;
	font-size: 3em;
}

h4{
	font-size: 2em;
}

p, a, li, span, label{
	font-family: 'Roboto Mono', monospace;
}


/*/////		Main Nav 	/////*/

#mainNav{
	text-align: center;
	background: pink url('../images/banner-bg.jpg') center;
}
#mainNav img{
	width: 400px;
}

#mainNav h2{
	font-size: 2em;
	color: #f442b3;
}

/*/////		Footer  	/////*/

footer{
	font-size: .8em;
	text-align: right;
	padding-top: 20px;
	border-top: solid 1px #ccc;
}



/*/////		Index Page  	/////*/

#chooseGenre{
	text-align: center;
	padding: 20px;
}

#chooseGenre h2{
	font-size: 1.5em;
}

#filter li{
	list-style: none;
	display: inline;
}

#filter li a{
	color: #f442b3;
}

.genre{
	margin-right: 30px;
	margin-left: 30px;
}

#home{
	text-align: center;
	padding: 20px;
}

#home h2{
	font-size: 1.5em;
}

.movieThumb{
	padding-bottom: 20px;
}

.movieCon{
	border: dashed 1px #212121;
	padding: 10px;
	text-align: center;
}

.movieCon:hover{
	opacity: 0.8;
}

.movieCon img{
	padding-bottom: 10px;
}

.movieCon h4{
	font-family: 'Roboto Mono', monospace;
	font-size: 0.9em;
	color: #212121;
	margin: 0;
}

/*/////		Details Page 	/////*/

#goBack{
	padding: 30px;
	margin-bottom: 40px;
	border-bottom: solid 1px #ccc;

}

#goBack a:hover{
	opacity: 1;
}

#goBack a{
	color: #212121;
	opacity: 0.5;
}

iframe{
	width: 100%;
	height: 350px;
}

#play-button, #vol-button{
	padding: 0 10px;
	color: #f442b3;
}

#movieDesc{

}

#movieDesc h3{
	padding-bottom: 30px;
}

#movieDesc span{
	font-style: italic;
}

#movieInfo{
	border-bottom: solid 1px #ccc;
	padding-bottom: 30px;
}

#reviews{
	border-bottom: solid 1px #ccc;
	padding: 30px 10px;
}

#reviews h4{
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
}

#reviewInd{
	background-color: #eee;
	margin: 10px 0;
}

#reviewInd span{
	font-style: italic;
	font-size: 0.8em;
}

#comments{
	padding-bottom: 100px;
}

#comments h2{
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	padding: 30px 0;
	font-size: 2em;
}

#review textarea{
	height: 200px;
}

#nickname input, #rating select, #rating select option{
	height: 50px;
	font-family: 'Roboto Mono', monospace;
	border: solid 1px #ccc;
	background-color: #fff;
}

#comments #submit input{
	font-family: 'Roboto Mono', monospace;
	padding: 12px 80px;
	border: solid 1px #ccc;
	background-color: #fff;
	width: 100%;
}

/*/////		X-Small to Small 	/////*/
@media screen and (min-width: 30em) {
	.movieCon h4{
		font-size: 1.1em;
	}

}

/*/////		Small to Medium 	/////*/
@media screen and (min-width: 40em) {

	#mainNav h2{
		font-size: 2.8em;
	}

	#home h2{
		font-size: 2.5em;
	}



	#comments #submit input{
		width: auto;
	}
}

/*/////		Medium to Large 	/////*/
@media screen and (min-width: 64em) {
	#mainNav h2{
		font-size: 4em;
	}

	#home h2{
		font-size: 3em;
	}

	#movieDesc{
		padding-left: 20px;
		border-left: dashed 1px #212121;
		height: 350px;
	}

	#comments h2{
		text-align: left;
		padding-left: 20px;
	}
}